altair
annotated-types
ansi2html
anyio
asttokens
astunparse
attrs
backcall
beartype
blinker
cachetools
callbacks
certifi
charset-normalizer
click
cloudpickle
colorama
colour
comm
contourpy
cycler
dash
dash-auth
dash-bootstrap-components
dash-core-components
dash-html-components
dash-mantine-components
dash-table
dash_daq
debugpy
decorator
docutils
dtreeviz
exceptiongroup
executing
explainerdashboard
fastapi
Flask
flask-simplelogin
Flask-WTF
fonttools
gitdb
GitPython
graphviz
gunicorn
h11
httptools
idna
importlib-metadata
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter-dash
jupyter_client
jupyter_core
kiwisolver
lightgbm
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numba
numpy
oyaml
packaging
pages
pandas
parso
pickleshare
piglet-templates
Pillow
platformdirs
plotly
pluggy
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypowershell
pytest
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
requests
retrying
rich
rpds-py
scikit-learn
scipy
seaborn
semantic-version
shap
shortuuid
six
slicer
smmap
sniffio
stack-data
starlette
streamlit
tabulate
tenacity
threadpoolctl
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
waitress
watchdog
watchfiles
wcwidth
websockets
Werkzeug
WTForms
zipp
